@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
   margin: 0 auto;
   font-family: 'Press Start 2P', cursive;
   user-select: none;
   background-color: black;
   overflow: hidden;
 }

canvas {
  display: block;
   font-family: 'Press Start 2P';
}

#game_canvas { 
  background-color: rgb(0, 170, 113);

 }

.canvas_bar {
  background-color: rgb(55, 55, 55);

}
